<footer>
    <small>Copright © <%= new Date().getFullYear() %></small>
    <small>Developed by <a style="color: #FFFBE9" href="https://github.com/melogtm">Gabriel Trigueiro</a></small>
</footer>

</body>
</html>