<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
</head>
<body class="flex flex-col min-h-screen">
    <nav class="bg-dark-coffee">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex flex-col-reverse h-16 items-center justify-center p-10 sm:flex-row">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <a href="/"><h2 class="text-3xl font-extrabold leading-none tracking-tight text-lightest-coffee md:text-4xl dark:text-white">BloogerShots</h2></a>
              </div>
              <div class="hidden sm:ml-6 sm:block"></div>
            </div>
            <% if (locals.user) { %> 
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
              <p class="text-lightest-coffee">Greetings, <b><%=user.username%></b> | </p>
              <button type="button" class="font-black relative rounded-full bg-dark-coffee p-1 text-lightest-coffee hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                <a href="/logout">Log Out</a>
              </button>
            </div>
            <%}%> 
          </div>
        </div>
      </nav>