<%- include("partials/header.ejs") %>

<form class="form" method="POST" id="create-post-form">
      
    <p class="title-post">
      <input value="<%= postEdit ? postEdit.title : '' %>"  name="title" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Title" id="title-post" required/>
    </p>
    
    <p class="text">
      <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment" required><%=postEdit ? postEdit.blog : '' %></textarea>
    </p>

    
    <input type="submit" value="Post It!">
</form>

<%- include("partials/footer.ejs") %>